name: Sync to Hugging Face hub
on:
  push:
    branches: [main]

  # to run this workflow manually from the Actions tab
  workflow_dispatch:
  env:
    openai_id: ${{ secrets.SECRET_KEY_OPENAI }}
    
jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      - name: Run Python Script
        run: |
          pip install requests
          python3 Chatbot_Marcus Aurelius.py
       
        
